@model ZeroHunger.EF.CollectRequest

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYouForTheFood</title>

   
</head>
<body>
    <a href="@Url.Action("Index", "User")">

        <button>Logout</button>
    </a>
    

    <div class="container">
        Food Items are confirmed by restaurant.
    </div>
</body>
</html>
